@model GroceryNearMe.Models.Category

@{
    ViewData["Title"] = "Shop by " + Model.Name ;
}

<h1>Select Product</h1>

<p> Category > @Model.Name</p>

<section class="row card-group">

    @foreach (var item in Model.Products)
    {
                <div class="col-lg-2 mb-3">
                    <div class="card mb-4 p-0">
                        <div class="card-body text-center h-100 w-100">
                                <a class="by-link" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                        @if(item.image != null)
                        {
                            <img class="rounded-circle category-circle-img img-thumbnail" src="/img/product/@item.image" alt="@Html.DisplayFor(modelItem => item.image)"/>
                            <br>
                        }
                        @Html.DisplayFor(modelItem => item.Name)</a>
                        <br>
                            <h6>@item.Price.ToString("C")</h6> 
                            <form method="POST" action="/Shop/AddToCart">
                                <input type="hidden" id="ProductId" name="ProductId" value="@item.Id" >
                                <input type="hidden" id="Quantity" name="Quantity" value="1" >
                                <button class="btn btn-primary" >Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>

    }
</section>
